<h1> Our Movies <%= link_to "Add a Movie", new_movie_path(@movie), class: "btn btn-primary" %></h1>

<ul>
    <% @movies.each do |movie| %>
      <li><%= link_to movie.title, movie_path(movie) %></li>
    <% end %>
  </ul>
